@import './styles/layout';
@import './styles/navbar';
@import './styles/typography';
@import './styles/title';
@import './styles/about';
@import './styles/skill';
@import './styles/course';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    color: #a4acc4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
}